@import url(http://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
	font-family: 'Roboto', sans-serif;
}
img {  max-width: 100%; }
a { color: #000; }
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* Custom Classes */
body {
  margin: 0;
  padding: 70px 0 0 0;
}
#mainMenu {
  margin: 0 0 10px 0;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 5px 10px;
  min-height: 30px;
  border: 0;
}
#mainMenu .navbar-brand {
  height: 37px;
  line-height: 37px;
  background: #888; 
  padding: 0px 10px 0px 10px;
}
#mainMenu.navbar-default .navbar-nav > li > a {
  height: 35px;
  line-height: 35px;
  padding: 0 10px 0 0;
}
.fixed-left { position: fixed; left: 0; top: 37px; width: 30px; height: 100vh; border-radius: 0; z-index: 1033;
	background: #ccc; /* Old browsers */
	

}
.navLeft { padding-left: 40px; }
aside ul { padding: 0; margin: 0; list-style: none; }

.navbar-header { width: 500px}
.navbar-header .edtInfo { padding: 0 10px; border-left: 1px solid #DDD; line-height: 36px; }
.navbar-header .edtInfo .navbar-left { margin-left: 10px; }
#mainMenu.navbar-default .navbar-nav > li > a { padding: 0 10px; }

/* Login */
#loginForm {
    width: 300px; 
    margin: 0 auto;
    background: #FFF;
    border: 1px solid #AAA;
    border-radius: 10px; 
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
    overflow: hidden;
    padding-bottom: 10px; 
}
#loginForm legend { display: block; text-align: center; line-height: 50px; border-bottom: 1px solid #AAA; 
  background: #cccccc; /* Old browsers */
  background: -moz-linear-gradient(top,  #cccccc 0%, #a8a8a8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#a8a8a8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #cccccc 0%,#a8a8a8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #cccccc 0%,#a8a8a8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #cccccc 0%,#a8a8a8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #cccccc 0%,#a8a8a8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#a8a8a8',GradientType=0 ); /* IE6-9 */
  text-shadow: #FFF 1px 1px 0;
  
  } 
#loginForm label { display: none; }
#loginForm input { width: 280px; margin-bottom: 10px; border: 1px solid #CCC; border-radius: 2px; box-shadow: inset rgba(0, 0, 0, 0.3) 2px 2px 5px; line-height: 30px; text-indent: 10px; }
#loginForm .cont { width: 280px; margin: 0 auto; }
#loginForm button { width: 280px; text-align: center; background: #CCC; border: 0; border-radius: 5px; line-height: 30px; color: #FFF; text-transform: uppercase;  }

.submenu-fixed-left { 
  position: fixed; 
  top: 37px; 
  left: 30px; 
  height: 100vh; 
  -webkit-transition: left 0.5s linear;
  -moz-transition: left 0.5s linear; 
  -o-transition: left 0.5s linear; 
  -ms-transition: left 0.5s linear;
  border-right: 1px solid #AAA;
  overflow: auto;
}
#mainContent aside.navbar.fixed-left { box-shadow: rgba(0, 0, 0, 0.3) 3px 0 5px; }
#mainContent {
  margin-left: 0px;
  -webkit-transition: margin-left 0.5s linear;
  -moz-transition: margin-left 0.5s linear; 
  -o-transition: margin-left 0.5s linear; 
  -ms-transition: margin-left 0.5s linear;
}
#mainContent aside.navbar.fixed-left a { width: 30px; height: 30px; overflow: hidden; display: block; }

#mainContent.openMenu { margin-left: 180px; }
#mainContent menu .submenu { left: -300px; width: 150px; }
#mainContent.openMenu menu .submenu { left: 30px }

#mainContent menu .submenu ul { list-style: none; margin: 0; padding: 0; }
#mainContent menu .submenu li { line-height: 30px; padding: 0 10px; border-bottom: 1px solid #CCC; color: #FFF;}


.modal-backdrop { height: 10000px}

.input-group-addon label { margin-bottom: 0; }

.loginBack { opacity: 1;}

aside.navbar.fixed-left li a { text-align: center; color: #000; }
aside.navbar.fixed-left li .fa:before {  font-size: 22px; line-height: 30px; color: #FFF; text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 1px;}

.edtInfo .navbar-nav { position: relative; margin-right: 10px; }
.edtInfo .navbar-nav:after, .edtInfo .navbar-nav:before {
  width: 1px;
  height: 1px;
  display: inline-block;
  content: '';
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 18px solid #CCC;
  position: absolute;
  top: 0;
  left: 100%;
}
.edtInfo .navbar-nav:after {
  border-left: 18px solid #f8f8f8;
  margin-left: -1px;
}
.edtInfo editorial-list .navbar-nav:after, .edtInfo editorial-list .navbar-nav:before  { display: none; }

#contentView { margin-top: -35px; }

.idField { width: 50px; }
.cType { width: 140px; }
.actTable { width: 200px; }

#searchFilters { margin-bottom: 20px; width: 370px; float: right; }
#searchFilters + div.table-responsive { clear: both; }
.btn.fa:before { margin-right: 5px; }
.btn-xs { padding-top: 3px; padding-bottom: 3px; }

.timePickerView { margin-top: -10px; }

.thubmnailBlockWidget .panel-body img { width: 100%; }
.thubmnailBlockWidget .panel-body a.imageContainer { display: inline-block; margin-bottom: 10px; width: 100%; height: 150px; overflow: hidden; }

.imageGalleryWidget .gal-image-item .col-md-3 img { width: 100%; margin-bottom: 10px; }

.gal-image-item, .quiz-item { border-bottom: 1px solid #CCC; padding-bottom: 10px; margin-bottom: 10px; }
.gal-image-item:last-child, .quiz-item:last-child { border-bottom: 0; margin-bottom: 0;}


.panel-default > .panel-heading {
	background: #f26622 url(/images/bgPanel2.png) no-repeat right top;
	color: #FFF;
	text-shadow: rgba(0, 0, 0, 0.3) 1px 1px;
}

.navbar-default .navbar-brand { color: #FFF; text-shadow: #000 1px 1px 0; }
#content-related {
  padding-top: 10px; 
}
#mediaBrowser .modal-body { padding: 0 15px; }
#mediaBrowser .modal-body > .row:after { content: ""; clear: both; display: block; width: 100%; height: 0px; }
#mediaBrowser .modal-body > .row > .file-properties { border-right: 1px solid #CCC; }
#mediaBrowser .modal-body > .row > div, 
#mediaBrowser .modal-body > .row > #fileLibrary,
#mediaBrowser .modal-body > .row > #fileLibrary.row, 
#mediaBrowser .modal-body > .row > #fileLibrary .row > div.file-properties { min-height: 200px; }
#mediaBrowser .modal-body > .row > .col-lg-9 .file-properties { background: #F0F0F0; min-height: 100%; border-left: 1px solid #E4E4E4 }

#mediaBrowser .modal-body > .row > .col-lg-3 { background: #F0F0F0; }
#mediaBrowser .modal-body { 
  background: rgb(240,240,240); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(240,240,240,1) 0%, rgba(240,240,240,1) 25%, rgba(255,255,255,1) 25.1%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(240,240,240,1)), color-stop(25.1%,rgba(240,240,240,1)), color-stop(40%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(240,240,240,1) 0%,rgba(240,240,240,1) 25%,rgba(255,255,255,1) 25.1%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(240,240,240,1) 0%,rgba(240,240,240,1) 25%,rgba(255,255,255,1) 25.1%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(240,240,240,1) 0%,rgba(240,240,240,1) 25%,rgba(255,255,255,1) 25.1%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(240,240,240,1) 0%,rgba(240,240,240,1) 25%,rgba(255,255,255,1) 25.1%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

  
}
#mediaBrowser .modal-body > .row > .col-lg-3 nav ul { list-style: none; padding: 0; margin: 0;}
#mediaBrowser .modal-body > .row > .col-lg-3 nav ul li { line-height: 30px; margin: 0 -15px; text-indent: 15px; }
#mediaBrowser .modal-body > .row > .col-lg-3 nav ul li a {display: block; }
#mediaBrowser .modal-body > .row > .col-lg-3 nav ul li.active { background: #DBDBDB; border-top: 1px solid #D0D0D0; border-bottom: 1px solid #D0D0D0; position: relative; }
#mediaBrowser .modal-body > .row > .col-lg-3 nav ul li.active:after { content: ""; display: inline-block; position: absolute; right: 5px; top: 50%; width: 0; height: 0; border-style: solid; 
border-width: 5px 0 5px 5px; border-color: transparent transparent transparent #C7C7C7; margin-top: -5px; }
#mediaBrowser .modal-header { position: relative; }
#mediaBrowser .modal-header .btnCloseLight { position: absolute; right: 0; top: 0; background: #000; color: #FFF; border: 2px solid #FFF; font-size: 8px; line-height: 13px; display: inline-block; width: 20px; height: 20px; text-align: center; font-weight: bold; border-radius: 50%; margin-right: -9px; margin-top: -9px; box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px; text-decoration: none; }
#mediaBrowser .modal-header .btnCloseLight:hover { text-decoration: none; background: #6F6F6F; }


#fileLibrary .fileList { list-style: none; margin: 0; padding: 30px 0; }
#fileLibrary .fileList:after {content: ""; display: block; width: 100%; height: 0; clear: both; }
#fileLibrary .fileList li { width: 96px; height: 96px; float: left; margin: 0 0 10px 10px; overflow: hidden; }
#fileLibrary .fileList li.selected { border: 3px solid #000; position: relative; background: #000; }
#fileLibrary .fileList li.selected a { display:block; margin-left: -1px;}
#fileLibrary .fileList li.selected:after  { content: "\f107"; width: 18px; height: 18px; position: absolute; top: 3px; left: 3px; display: block; background: #000; border-radius: 3px; font-family: "FontAwesome"; text-align: center; color: #FFF;  }

#fileLibrary #fileAr.col-lg-12+div.col-lg-3 { display: none; } 
#fileLibrary #fileAr.col-lg-9+div.col-lg-3 { display: none; } 

#fileLibrary  .searchTools  { margin-top: 5px;}

.uploadFilesList { padding: 0;}
.uploadFilesList li { list-style: none; position: relative; padding-left: 15px; line-height: 21px; margin-bottom: 3px; }
.uploadFilesList li .progress { margin-bottom: 0; }
.uploadFilesList li:before { content: ""; width: 5px; height: 5px; border-radius: 50%; background: #000; display: block; position: absolute; top: 50%; left: 0; margin-top: -2.5px; }

.UploaderInfo { font-weight: bold; font-size: 16px; text-align: center; margin: 30px 0; }
.fakeInput { width: 300px; position: relative; margin: 30px auto ; }
.fakeInput .btn { width: 300px; }
.fakeInput input[type=file] { position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; }

.pagination .currentPage { font-weight: bold; background: #000; color: #FFF; }

.btnRemoveQuestion { margin-bottom: 20px; }
.btnRemoveQuestion + a { margin-bottom: 5px; display: block; cursor: pointer; }

.quiz-item.has_photo  textarea { height: 233px;}

ol.answers { list-style: none; margin: 0; padding: 0 0 0 0; }
ol.answers li{ position: relative; counter-increment: answers-counter; padding-left: 40px; padding-bottom: 15px; border-bottom: 1px solid #CCC; margin-bottom: 15px; }
ol.answers li:before {  content: "\f00c"; font-family: FontAwesome; display: inline-block; padding: 0 10px; line-height: 30px; color: #FFF; background: #105908; border-radius: 50%; position: absolute; top: 50%; left: 0; margin-top: -15px; }
ol.answers li + li:before { content: "\f00d"; background: #A31111; }
.quiz-item.has_photo ol.answers textarea, .quiz-item ol.answers textarea { height: auto; }
.quiz-item.has_photo ol.answers .has_photo textarea, .quiz-item ol.answers .has_photo textarea { height: 204px; }


.profile ol.answers li:before { content: counter(answers-counter, upper-latin); font-family: Arial; background: #000; }


#homeView .form-control {
  background: transparent;
  border: 0;
  color: inherit;
}

#homeView .postTools {
  position: absolute;
  top: -20px !important;
  bottom: auto !important;
  left: 0 !important;
  width: 60px;
  height: 20px; 
  margin: 0; 
  padding: 0;
  list-style: none;
  z-index: 1000;
}
#homeView .hasPostTools .postTools { 
  opacity: 0;
}
#homeView .hasPostTools:hover .postTools { 
  opacity: 1;
}
#homeView .postTools li, #homeView .postTools li a  {
  color: #FFF;
  text-align: center;
  line-height: 20px;
  background: #000;
  width: 20px !important;
  height: 20px !important;
  margin: 0 !important;
  padding: 0 !important;
  float: left;
}
#homeView .postTools li a {
  font-family: 'FontAwesome' !important;
}
#homeView .postTools li a  {
  position: static !important;
}

#homeView .inlineEditor .form-control {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
}
#homeView .inlineEditor .ta-scroll-window.form-control,
#homeView .inlineEditor .ta-scroll-window > .ta-bind { min-height: 0;  }

#homeView .ta-root.focussed > .ta-scroll-window.form-control { 
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: transparent;
}


#homeView .ta-root.focussed:hover > .ta-scroll-window.form-control { 
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    border-color: #66afe9;
}

#homeView .hasPostTools:after {
  content: "";
  clear: both;
  width: 100%;
  height: 0px;
  display: block; 
}

#homeView .homeEditPubTool { position: fixed; right: 5px; top: 60px; width: 40px; z-index: 10000; }
#homeView .homeEditPubTool.open { width: 300px; }
#homeView .homeEditPubTool .panel-heading { cursor: pointer; }
#homeView .homeEditPubTool .panel-title span, 
#homeView .homeEditPubTool .panel-body { display: none }
#homeView .homeEditPubTool.open .panel-body { display: block }
#homeView .homeEditPubTool .panel-title:before { margin-right: 5px; }
#homeView .homeEditPubTool.open .panel-title span { display: inline-block;  }
#homeView .homeEditPubTool .form-control { border: 1px solid #CCC; }

#EditorialsBox { height: 200px; }

.extendedText textarea {
  height: 330px; 
}

.pollItem { padding-bottom: 30px; margin-bottom: 30px; border-bottom: 1px solid #CCC; }
.table-id { width: 30px; }

#specialEdit .col-lg-5 .col-lg-12 { margin-bottom: 30px; }

#specialEdit .input-group-addon:first-child { min-width: 100px } 


.tagsList { list-style: none; padding: 0; margin: 20px; }
.tagsList span { display: block; font-weight: bold;  }
.tagsList li { line-height: 24px; margin-bottom: 3px; padding-bottom: 3px; border-bottom: 1px solid #CCC; }

.pagination .current a { background: #999; color: #FFF}

.pagination li .form-control { display: inline-block; width: auto; text-align: center; }
.pagination li { float: left; }

notifications {
  position: fixed;
  top: 50px;
  right: 0;
  width: 300px;
  z-index: 1000;
}

.galleryItem.first .postOrder .fa-arrow-up, .galleryItem.last .postOrder .fa-arrow-down {display: none; }