<div class="panel panel-default">
	<div class="panel-heading">
		<h3 translate>VISITS</h3>
	</div>
	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<th>Dia</th>
					<th>Visitas</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in rows | limitTo: 10">
					<td>{{item[0] | gadate}}</td>
					<td>{{item[1]}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>