<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/textAngular/src/textAngular.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="dreamzApp" class="{{classBody}}">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div id="mainMenu" class="navbar navbar-default navbar-fixed-top">
						<div class="container-fluid">
							<div class="navbar-header">
								<a class="navbar-brand" href="/">Container</a>
								<div class="edtInfo">
									<sites-list></sites-list>
									<editorial-list></editorial-list>
								</div>
							</div>
							<user-info></user-info>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="mainContent" class="container-fluid navLeft">
			<menu></menu>
			<div class="col-md-12" id="contentView">
				<div ng-view=""></div>
			</div>


		</div>
		<login-modal></login-modal>
		<attachment-browser></attachment-browser>
		<notifications></notifications>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>-->

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/rangy/rangy-core.min.js"></script>
    <script src="bower_components/rangy/rangy-cssclassapplier.min.js"></script>
    <script src="bower_components/rangy/rangy-selectionsaverestore.min.js"></script>
    <script src="bower_components/rangy/rangy-serializer.min.js"></script>
    <script src="bower_components/textAngular/src/textAngular.js"></script>
    <script src="bower_components/textAngular/src/textAngular-sanitize.js"></script>
    <script src="bower_components/textAngular/src/textAngularSetup.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/highcharts-release/highcharts.js"></script>
    <script src="bower_components/highcharts-release/highcharts-more.js"></script>
    <script src="bower_components/highcharts-release/modules/exporting.js"></script>
    <script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
				<script src="scripts/languages/ptBR.js"></script>
				<script src="scripts/routes.js"></script>
				<script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
				<script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/content.js"></script>
				<script src="scripts/controllers/attachments.js"></script>
				<script src="scripts/controllers/alertModal.js"></script>
				<script src="scripts/controllers/Featureds.js"></script>
				<script src="scripts/controllers/Specials.js"></script>
				<script src="scripts/controllers/tags.js"></script>
				<script src="scripts/controllers/slug.js"></script>

				<script src="scripts/directives/menu.js"></script>
				<script src="scripts/directives/loginModal.js"></script>
				<script src="scripts/directives/siteslist.js"></script>
				<script src="scripts/directives/editoriallist.js"></script>
				<script src="scripts/directives/userInfo.js"></script>
				<script src="scripts/directives/localized.js"></script>
				<script src="scripts/directives/tablelist.js"></script>
				<script src="scripts/directives/selector.js"></script>
				<script src="scripts/directives/gallery-widget.js"></script>
				<script src="scripts/directives/quiz-widget.js"></script>
				<script src="scripts/directives/analytics-visits.js"></script>
				<script src="scripts/directives/analytics-pageviews.js"></script>
				<script src="scripts/directives/analytics-keywords.js"></script>
				<script src="scripts/directives/file-browser-item.js"></script>
				<script src="scripts/directives/imaginate-date-picker.js"></script>
				<script src="scripts/directives/home.js"></script>
				<script src="scripts/directives/thumbnail-container.js"></script>
				<script src="scripts/directives/notifications.js"></script>
				<script src="scripts/directives/attachment-browser.js"></script>
				

				<script src="scripts/services/token.js"></script>
				<script src="scripts/services/editorials.js"></script>
				<script src="scripts/services/users.js"></script>
				<script src="scripts/services/content.js"></script>
				<script src="scripts/services/Analytics.js"></script>
        <script src="scripts/services/Tags.js"></script>
				<script src="scripts/services/Files.js"></script>
				<script src="scripts/services/Question.js"></script>
				<script src="scripts/services/Special.js"></script>

				<script src="scripts/filters/range.js"></script>
				<script src="scripts/filters/gadate.js"></script>

        <!-- endbuild -->
</body>
</html>
