<div class="row">
	<!-- Main Content -->
	<div class="col-lg-9">
		<!-- Main Content Info -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 translate>EDIT_TAG</h4>
			</div>
			<div class="panel-body">

					<div class="input-group">
							<div class="input-group-addon">
								<label for="title" translate>TITLE</label>
							</div>
							<input type="text" id="title" class="form-control" ng-model="tag.title" />
					</div>
					<br />
					<div class="input-group">
							<div class="input-group-addon">
								<label for="job" translate>JOB</label>
							</div>
							<input type="text" id="job" class="form-control" ng-model="tag.job" />
					</div>
					<br />
					<div class="input-group">
							<div class="input-group-addon">
								<label for="job" translate>TAXONOMY</label>
							</div>
							<select class="form-control" ng-model="tag.taxonomy" ng-options="item.type as item.name for item in taxonomies"></select>
					</div>
					<br />
					
					<!-- Old Content -->
					<div ng-show="tag.taxonomy == 'ART_PROFILE'">
						
						<div class="input-group">
								<div class="input-group-addon">
									<label for="profile_type" translate>PROFILE_TYPE</label>
								</div>
								<select class="form-control" ng-model="tag.profileType" ng-options="item.type as item.name for item in profileTypes"></select>
						</div>
						<br />
						
						<div ng-show="(tag.taxonomy && tag.taxonomy != 'TAG')">
							<div class="input-group">
									<div class="input-group-addon">
										<label for="profileDate" translate>BIRTHDAY_DATE</label>
									</div>
									<imaginate-date-picker data="tag.profileDate"></imaginate-date-picker>
							</div>
							<br />
						</div>
						
						

					<div ng-show="(tag.taxonomy && tag.taxonomy != 'TAG')">
						<div class="input-group">
								<div class="input-group-addon">
									<label for="profileDeathDate" translate>DEATH_DATE</label>
								</div>
								<imaginate-date-picker data="tag.profileDeathDate"></imaginate-date-picker>
						</div>
						<br />	
					</div>
				</div>
					<!-- /Old Content -->
					
					
					
					
				
			</div>
		</div>
		<!-- /Main Content Info -->
	</div>
	<!-- /Main Content -->
	<div class="col-lg-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 translate>SAVE</h4>
			</div>
			<div class="panel-body">
				<button ng-click="saveContent($event)" class="btn btn-primary" translate>SAVE</button>
			</div>
		</div>
		
		<!-- Thumbnail -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 translate>Thumbnail</h4>
			</div>
			<div class="panel-body">
				<button class="btn btn-primary btn-default" ng-click="tagAddImage($event);" ng-show="!tag.File" translate>ADD_IMAGE</button>
				<a ng-if="tag.File" ng-click="tagRemoveImage($event);">
					<image-api2 item="tag.File" format="300x300"></image-api2>
				</a>
				<button class="btn btn-primary btn-default" ng-click="tagRemoveImage($event);" ng-show="tag.File" translate>REMOVE_IMAGE</button>
			</div>
		</div>
		<!-- /Thumbnail -->
		
	</div>
</div>