<div class="modal-header">
    <h3 class="modal-title" translate>{{title}}</h3>
</div>
<div class="modal-body">
    <p translate>{{message}}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

