<div id="mediaBrowser">
	<div class="modal-header">
		<button class="btnCloseLight" ng-click="closeLight()">X</button>
		<h3 class="modal-title" translate>MEDIA</h3>
	</div>
	<div class="modal-body" ng-class="{'uploader': (mode == 'upload'), 'librarian': (mode == 'library')}">
		<div class="row">
			<div class="col-lg-3">
				<nav>
					<ul>
						<li ng-class="{'active': (mode == 'upload')}"><a href="#" ng-click="changeMode('upload', $event);" translate>UPLOAD_MEDIA</a></li>
						<li ng-class="{'active': (mode == 'library')}"><a href="#" ng-click="changeMode('library', $event);" translate>FROM_LIBRARY</a></li>
						<li ng-class="{'active': (mode == 'uri')}"><a href="#" ng-click="changeMode('uri', $event);" translate>URL</a></li>
					</ul>
				</nav>
			</div>
			<div ng-show="(mode == 'upload')" class="col-lg-9">
					<form>
						<fieldset>
							<div class="UploaderInfo" ng-file-over over-class="{'dropover'}" uploader="uploader" translate>CLICK_BUTTON_BELLOW_TO_UPLOAD_MEDIA</div>
							<div class="fakeInput">
								<input type="file" nv-file-select uploader="uploader" multiple/>
								<button class="btn btn-primary" translate>UPLOAD_MEDIA</button>
							</div>
							<ul class="uploadFilesList">
			            <li ng-repeat="item in uploader.queue">
											<div class="row">
												<div class="col-lg-3">
													Name: {{item.file.name}}
												</div>
												<div class="col-lg-9">
													<imaginate-progress-bar></imaginate-progress-bar>
												</div>
											</div>
			                
			            </li>
			        </ul>
						</fieldset>
					</form>
			</div>
			<div ng-show="(mode == 'uri')" class="col-lg-9">
					<form>
						<fieldset>
							<div class="row">
								<div class="col-lg-12">
									&nbsp;
								</div>
								<div class="col-lg-8">
									<input type="text" class="form-control" placeholder="{{'FILL_URI' | translate}}" ng-model="fileURI" />
								</div>
								<div class="col-lg-4">
									<button class="btn btn-primary" ng-click="saveURI($event)" translate>ADD</button>
								</div>
							</div>
							<div id="previewVid">
								
							</div>
						</fieldset>
					</form>
			</div>
			<div id="fileLibrary" ng-show="(mode == 'library')" class="col-lg-9">
					<div class="row fileBrowser">
						<div id="fileAr" class="col-lg-12">
							<div class="searchTools row">
								<div class="col-lg-6 col-lg-offset-5">
									<div class="col-lg-5">
										<input type="text" placeholder="SEARCH" class="searchField form-control" ng-model="searchQuery" />
									</div>
									<div class="col-lg-5">
										<select  class="form-control" ng-model="searchType" ng-options="item as item for item in fileTypes"></select>
									</div>
									<div class="col-lg-2">
										<button ng-click="searchLibrary($event)" class="btn btn-primary" translate>SEARCH</button>
									</div>
								</div>
							</div>
							<ul class="fileList">
								<li ng-repeat="item in files" id="{{'item-'+item.id}}">
									<file-browser-item data="item"></file-browser-item>
								</li>
							</ul>
							<ul class="pagination" ng-if="(totalPages > 1)">
								<li ng-if="((currentPage-1) >= 0)"><a ng-click="goPage((currentPage-1), $event)">&lt;</a></li>
								<li ng-repeat="n in [pagination.startPages, pagination.endPages] | range">
									<a ng-click="goPage(n, $event)" ng-class="{'currentPage': (n == currentPage)}">{{n+1}} </a>
								</li>
								<li ng-if="((currentPage+1) < totalPages)"><a ng-click="goPage((currentPage+1), $event)">&gt;</a></li>
							</ul>
						</div>
						<div class="file-properties col-lg-3">
							<h3>File Info</h3>
							<button class="btn btn-xs btn-danger fa fa-eraser" translate>REMOVE_IMAGE</button>
						</div>
					</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="selectPhotos()">Add File</button>
	</div>	
</div>
