<span class="input-group">

<input type="text" class="form-control" datepicker-popup="{{'dd/MM/yyyy'}}" ng-model="data" is-open="opened"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
<span class="input-group-btn">
  <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
</span>
</span>