<div class="modal-header">
    <h3 class="modal-title" translate>LINK</h3>
</div>
<div class="modal-body">
	<div class="from-group">
	<input type="text"  class="form-control" placeholder="Novo link" ng-model="desiredTitle" name="linker" />
	</div>
	<div class="form-group">
		<p>/{{content.type | translate}}/{{date | date : 'yyyy/MM/dd'}}/{{slug}}-{{content.id}}</p>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

