<aside class="navbar fixed-left">
	<ul>
		<li><a ng-href="/#/"><i class="fa fa-dashboard" localized="DASHBOARD"></i></a></li>
		<li><a ng-href="/#/{{currentSite.id}}/content/new"><i class="fa fa-pencil-square-o" localized="CREATE_CONTENT"></i></a></li>
		<li><a ng-href="/#/{{currentSite.id}}/content"><i class="fa fa-list-alt" localized="LIST_CONTENT"></i></a></li>
		<li ng-if="showFeaturedsButton && userCan('Featured:createBulk')"><a ng-href="/#/{{currentEdt.id}}/home/edit"><i class="fa fa-paper-plane" localized="EDIT_LANDING_PAGE"></i></a></li>
		<li ng-if="userCan('Special:index')"><a ng-href="/#/{{currentSite.id}}/specials"><i class="fa fa-diamond" localized="EDIT_SPECIALS"></i></a></li>
		<li ng-if="userCan('Tags:index')"><a ng-href="/#/{{currentSite.id}}/tags"><i class="fa fa-tags" localized="EDIT_TAGS"></i></a></li>
	</ul>
</aside>
