<!-- QUIZ -->
<div class="panel panel-default" ng-if="content.type == 'quiz'" ng-class="{'profile': (content.quizType == 'profile')}">
	<div class="panel-heading">
		<h5 translate>QUIZ</h5>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-3"><button class="form-control btn btn-primary" ng-click="addQuestion($event)" translate>ADD_QUESTION</button></div>
			<div class="col-md-9">&nbsp;</div>
		</div>
		<br />
		<div class="row">
			<div class="col-md-12">
				<!-- Question -->
				<div class="row quiz-item" ng-repeat="item in content.Questions" ng-class="{'has_photo': (item.image)}">
						<div class="col-md-12">
							<div class="form-group">
								<div class="row">
									<div class="col-md-2">
										<button class="btnRemoveQuestion form-control btn btn-primary" ng-click="removeQuestion(item, $event)" translate>REMOVE_QUESTION</button>
										<a ng-if="item.image" ng-click="removeImageQuestion(item, $event)">
											<image-api2 item="item.image" format="300x300"></image-api2>
										</a>
										<button ng-if="!item.image" class="form-control btn btn-primary" ng-click="addImageQuestion(item, $event)" translate>ADD_IMAGE</button>
										<button ng-if="item.image" class="form-control btn btn-primary" ng-click="removeImageQuestion(item, $event)" translate>REMOVE_IMAGE</button>
									</div>
									<div class="col-md-10">
										<label for="title" class="hidden" translate>QUESTION</label>
										<div class="form-group">
											<input type="text" class="form-control" ng-model="item.title" name="title" id="title" placeholder="{{'QUESTION' | translate}}" />
										</div>
										<div class="form-group">
											<textarea class="form-control" ng-model="item.fullText" placeholder="{{'FullText' | translate}}"></textarea>
										</div>
										
									</div>
									
								</div>
							</div>
							<ol class="answers">
								<li ng-repeat="answer in item.Answers" ng-class="{'has_photo': (answer.image)}">
									<div class="row">
										<div class="col-lg-10">
											<div class="form-group">
												<input type="text" class="form-control" ng-model="answer.title" placeholder="{{'ANSWER' | translate}}" />
											</div>
											<div class="form-group">
												<textarea class="form-control" ng-model="answer.fullText" placeholder="{{'Text' | translate}}"></textarea>
											</div>
										</div>
										<div class="col-lg-2">
											<div class="form-group">
												<button class="form-control btn btn-primary" ng-click="removeAnswer(item, answer, $event)" translate>REMOVE_ANSWER</button>
												<a ng-if="answer.image" ng-click="removeImageAnswer(answer, $event)">
													<image-api2 item="answer.image" format="300x300"></image-api2>
												</a>
												<button ng-if="!answer.image" class="form-control btn btn-primary" ng-click="addImageAnswer(answer, $event)" translate>ADD_IMAGE</button>
												<button ng-if="answer.image" class="form-control btn btn-primary" ng-click="removeImageAnswer(answer, $event)" translate>REMOVE_IMAGE</button>
											</div>
										</div>
									</div>
								</li>
							</ol>
							<div>
								<button class="form-control btn btn-primary" ng-click="addAnswer(item, $event)" translate>ADD_ANSWER</button>
							</div>
						</div>
				</div>
				<!-- /Question -->

			</div>
		</div>
	</div>
</div>
<!-- /QUIZ -->
<div class="panel panel-default" ng-if="content.type == 'quiz'" ng-class="{'profile': (content.quizType == 'profile')}">
	<div class="panel-heading">
		<h5 translate>QUIZ_RESULTS</h5>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-3"><button class="form-control btn btn-primary" ng-click="addResult($event)" translate>ADD_RESULT</button></div>
			<div class="col-md-9">&nbsp;</div>
		</div>
		<div class="row">
			<div class="col-md-12">&nbsp;</div>
		</div>
		<div class="row quiz-item" ng-repeat="item in content.Results" ng-class="{'has_photo': (item.image)}">
				<div class="col-md-12">
					<div class="form-group">
						<div class="row">
							<div class="col-md-2">
								<button class="btnRemoveQuestion form-control btn btn-primary" ng-click="removeResult(item, $event)" translate>REMOVE_RESULT</button>
								<a ng-if="item.image" ng-click="removeImageResult(item, $event)">
									<image-api2 item="item.image" format="300x300"></image-api2>
								</a>
								<button ng-if="!item.image" class="form-control btn btn-primary" ng-click="addImageResult(item, $event)" translate>ADD_IMAGE</button>
								<button ng-if="item.image" class="form-control btn btn-primary" ng-click="removeImageResult(item, $event)" translate>REMOVE_IMAGE</button>
							</div>
							<div class="col-md-10">
								<label for="title" class="hidden" translate>Titulo</label>
								<div class="form-group">
									<input type="text" ng-model="item.title" class="form-control" name="title" id="title" placeholder="{{'TITLE' | translate}}" />
								</div>
								<div class="form-group">
									<textarea class="form-control" ng-model="item.fullText" placeholder="{{'TEXT' | translate}}"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>