<div class="modal-header">
    <h3 class="modal-title" translate>CONTENT_RELATED</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-lg-12">
			<tablelist></tablelist>
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

