<ul class="nav navbar-nav navbar-left">
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{itemSelected.name}}</a>
		<ul class="dropdown-menu" role="menu">
			<li ng-repeat="item in sites">
				<a href="#" ng-click="changeSite(item, $event)">{{item.name}}</a>
			</li>
		</ul>
	</li>
</ul>