<form id="searchFilters" class="form-inline">
	<div class="form-group">
	    <select ng-model="filters.type" class="form-control" id="content_type" ng-options="item.name | translate for item in content_types track by item.id"></select>
	</div>
	<div class="input-group">
		<label for="s_title" class="hidden" translate>TITLE</label>
	  <input type="text" ng-model="filters.q" class="form-control" id="s_title" placeholder="{{'BUSCA' | translate}}">
		<span class="input-group-btn">
			<button type="button" ng-click="filterContent($event)" class="btn btn-default" translate>FILTER</button>
		</span>
	</div>
	
</form>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th ng-repeat="item in columns" class="table-{{item.key}}">{{item.name}}</th>
				<th class="actTable" translate>ACTIONS</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in itens">
				<td ng-repeat="col in columns" class="table-{{col.key}}">{{item[col.key]}}</td>
				<td>
							<a href="/#/{{controllerUrl}}/{{item.id}}" ng-show="!selectItem" class="btn btn-xs btn-info fa fa-pencil-square-o" translate> EDIT</a>
							<a href="/#/{{controllerUrl}}/{{item.id}}/delete" ng-show="deleteItem" ng-click="deleteItem(item, $event)" class="btn btn-xs btn-danger fa fa-eraser" translate> DELETE</a>
							<button class="btn btn-xs btn-info" ng-show="selectItem" ng-click="selectItem(item, $event)" translate>SELECT</button>
				</td>
						
			</tr>
			<tr ng-if="(itens.length < 1)">
				<td colspan="{{columns.length+1}}" translate>{{(loading)?"LOADING_CONTENT":'ITENS_NOT_FOUND'}}</td>
			</tr>
		</tbody>
	</table>
</div>

<nav ng-show="(pagination.totalPages > 1)">
	<ul class="pagination">
		<li  ng-show="((pagination.currentPage-1) >= 1)"><a ng-click="goFirstPage($event)" aria-label="Previous"><span aria-hidden="true">&laquo;&laquo;</span></a></li>
		<li  ng-show="((pagination.currentPage-1) >= 1)"><a ng-click="goPrev($event)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
		<li><input type="number" class="form-control" ng-model="pagination.currentPage" /></li>
		<li ng-show="((pagination.currentPage+1) <= pagination.totalPages)"><a href="#" ng-click="goNext($event)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
		<li ng-show="((pagination.currentPage+1) <= pagination.totalPages)"><a href="#" ng-click="goLastPage($event)" aria-label="Next"><span aria-hidden="true">&raquo;&raquo;</span></a></li>
	</ul>
</nav>