<div class="modal-header">
    <h3 class="modal-title" translate>TAGS</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-lg-3">
			<button class="btn btn-primary btn-default" ng-click="tagAddImage($event);" ng-show="!tag.File" translate>ADD_IMAGE</button>
			<a ng-if="tag.File" ng-click="tagRemoveImage($event);">
				<image-api2 item="tag.File" format="300x300"></image-api2>
			</a>
			<button class="btn btn-primary btn-default" ng-click="tagRemoveImage($event);" ng-show="tag.File" translate>REMOVE_IMAGE</button>
		</div>
		<div class="col-lg-9">
			<div class="row">
				<div class="col-lg-3">
					<label for="profileDate" translate>NAME</label>
				</div>
				<div class="col-lg-9">
					<input type="text" class="form-control" ng-model="tag.title"  placeholder="{{'NAME'| translate}}" />
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">&nbsp;</div>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<label for="profileDate" translate>JOB</label>
				</div>
				<div class="col-lg-9">
					<input type="text" class="form-control" ng-model="tag.job"  placeholder="{{'JOB'| translate}}" />
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">&nbsp;</div>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<label for="profileDate" translate>TAXONOMY</label>
				</div>
				<div class="col-lg-9">
					<select class="form-control" ng-model="tag.taxonomy" ng-options="item.type as item.name for item in taxonomies"></select>
				</div>
			</div>
			<div class="row" ng-show="tag.taxonomy == 'ART_PROFILE'">
				<div class="col-lg-3">
					<label for="profileDate" translate>Tipo de Perfil</label>
				</div>
				<div class="col-lg-9">
					<select class="form-control" ng-model="tag.profileType" ng-options="item.type as item.name for item in profileTypes"></select>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-12">&nbsp;</div>
			</div>
			
			<div class="row" ng-show="(tag.taxonomy && tag.taxonomy != 'TAG')">
				<div class="col-lg-3">
					<label for="profileDate" translate>BIRTHDAY_DATE</label>
				</div>
				<div class="col-lg-9">
					<imaginate-date-picker data="tag.profileDate"></imaginate-date-picker>
				</div>
			</div>
			<div class="row" ng-show="(tag.taxonomy && tag.taxonomy != 'TAG')">
				<div class="col-lg-12">&nbsp;</div>
			</div>
			
			<div class="row" ng-show="(tag.taxonomy && tag.taxonomy != 'TAG')">
				<div class="col-lg-3">
					<label for="profileDate" translate>DEATH_DATE</label>
				</div>
				<div class="col-lg-9">
					<imaginate-date-picker data="tag.profileDeathDate"></imaginate-date-picker>
				</div>
			</div>
			<div class="row" ng-show="(tag.taxonomy && tag.taxonomy != 'TAG')">
				<div class="col-lg-12">&nbsp;</div>
			</div>
			
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

