<div class="panel panel-default thubmnailBlockWidget">
	<div class="panel-heading">
		<h5 translate>THUMBNAIL_IMAGE</h5>
	</div>
	<div class="panel-body">
		<div ng-show="content.thumbnail">
			<a href="#" ng-click="removeThumbnail($event)"><img ng-src="{{content.thumbnail.url}}" /></a>
			<input type="text" class="form-control" ng-model="content.thumbnail.credits" />
			<button type="button" class="form-control btn btn-primary" ng-click="removeThumbnail($event)" translate>REMOVE_THUMB</button>
		</div>
		<div ng-show="!content.thumbnail">
			<button type="button" class="form-control btn btn-primary" ng-click="changeThumbnail()" translate>ADD_THUMB</button>
		</div>
	</div>
	
</div>