<ul class="nav navbar-nav navbar-right">
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{me.name}} <span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			<li><a href="/#/configs">{{'CONFIGURATIONS' | translate }}</li>
			<li><a href="/#/logout">{{'LOGOUT' | translate }}</a></li>
		</ul>
	</li>
</ul>