<form ng-submit="goLogin()" class="modal-content">
	<fieldset>
		<div class="modal-header">
			<h3 class="modal-title">Login</h3>
		</div>
		<div class="modal-body">
			
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon">
						<label for="login">Username</label>
					</div>
					<input type="text" class="form-control" name="username" ng-model="username" placeholder="username"/>
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon">
						<label for="pass">Password</label>
					</div>
					<input type="password" class="form-control" name="pass" ng-model="pass" placeholder="password"/><br />
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="submit">Login</button>
		</div>
	</fieldset>
</form>