<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title" translate>LIST_SPECIALS</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-12">
					<a  href="#/{{currentSite.id}}/specials/new" class="btn btn-primary fa fa-plus btn-default" translate>ADD_SPECIAL</a>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<tablelist></tablelist>
				</div>
			</div>
		</div>
	</div>
</div>