<div class="row">
	<div class="col-lg-9">
		<section class="panel panel-default">
			<div class="panel-heading">
				<h4 translate>EDIT_SPECIALS</h4>
			</div>
			<div id="specialEdit" class="panel-body">
				<div class="row">
					<div class="col-lg-5">
						<div class="col-lg-12">
							<div class="input-group">
									<div class="input-group-addon">
										<label for="login" translate>TITLE</label>
									</div>
									<input type="text" id="title" class="form-control" ng-model="special.title" />
							</div>
						</div>
						
						<div class="col-lg-12">
							<div class="input-group">
									<div class="input-group-addon">
										<label for="url" translate>URL</label>
									</div>
									<input type="text" id="url" class="form-control" ng-model="special.url" />
							</div>
						</div>
						
						<div class="col-lg-12">
							<div class="input-group">
									<div class="input-group-addon">
										<label for="color" translate>COLOR</label>
									</div>
									<input type="color" class="form-control" id="color" ng-model="special.color" />
							</div>
						</div>
						
						<div class="col-lg-12">
							<div class="input-group">
									<div class="input-group-addon">
										<label for="color" translate>TAG</label>
									</div>
									<!--<select id="tag" class="form-control" ng-model="special.TagId" ng-options="item.id as item.title for item in tags"></select>-->
									<input type="text" class="form-control" ng-model="tagNew" name="title" id="title" typeahead="tag.title for tag in searchTag($viewValue, 'TAG')" typeahead-on-select="formatTag($item, $model, $label)" placeholder="{{'TAGS' | translate}}" />
								</div>
								<div class="row">
									<ul class="tagsList">
										<li ng-if="special.Tag">
											<span href="#">{{special.Tag.title}} <button ng-click="removeTag()" class="btn btn-danger btn-xs fa fa-trash-o"></button></span>
										</li>
									</ul>
								</div>
							</div>
						</div>
						
					</div>
			
			</div>
		</section>
		<!-- SEO -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5 translate>SEO_CONFIGS</h5>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label for="title" class="hidden" translate>SEO_TITLE</label>
					<input type="text" class="form-control" ng-model="special.titleSEO" name="title" id="title" placeholder="{{'SEO_TITLE' | translate}}" />
				</div>
				<div class="form-group">
					<label for="title" class="hidden" translate>SEO_KEYWORDS</label>
					<input type="text" class="form-control" ng-model="special.keywordsSEO" name="title" id="title" placeholder="{{'SEO_KEYWORDS' | translate}}" />
				</div>
				<div class="form-group">
					<label for="title" class="hidden" translate>SEO_DESCRIPTION</label>
					<textarea class="form-control" ng-model="special.descriptionSEO" name="title" id="title" placeholder="{{'SEO_DESCRIPTION' | translate}}"></textarea>
				</div>
			</div>
		</div>
		<!-- /SEO -->
	</div>
	<div class="col-lg-3">
		<div class="row">
			<div class="col-lg-12">
				<section class="panel panel-default">
					<div class="panel-heading">
						<h5 translate>SAVE_CONTENT</h5>
					</div>
					<div class="panel-body">
						<button ng-click="saveItem($event)" class="btn btn-primary btn-default" translate>SAVE</button>
					</div>
				</section>
			</div>
			<div class="col-lg-12">
				<section class="panel panel-default">
					<div class="panel-heading">
						<h5 translate>THUMBNAIL</h5>
					</div>
					<div class="panel-body">
						<div class="row" ng-if="!special.File">
							<div class="col-lg-12">
								<button ng-click="addImage(special, $event)" class="btn btn-primary btn-default" translate>ADD_IMAGE</button>
							</div>
						</div>
						<div class="row" ng-if="special.File">
							<div class="col-lg-12">
								<a ng-click="removeImage(special, $event)">
									<image-api2 item="special.File" format="300x300"></image-api2>
								</a>
								<button ng-click="removeImage(special, $event)" class="btn btn-primary btn-default" translate>REMOVE_IMAGE</button>
							</div>
						</div>
						
					</div>
				</section>
			</div>
		</div>
		
	</div>
	
</div>