	<div class="row">
		<!-- Main Content -->
		<div class="col-lg-9">
			<!-- Main Content Info -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 translate>CREATE_CONTENT</h4>
				</div>
				<div class="panel-body">
					
					<!-- Body -->
					<!-- Content Type -->
					<div class="form-group">
							<label for="content_type" translate>CONTENT_TYPE</label>
							<div class="btn-group btn-group" role="group">
							  <div class="btn-group" role="group">
							    <button type="button" ng-click="changeContentType('news', $event)" class="btn btn-default" ng-class="{'btn-primary': (isContentType('news'))}" translate>NEWS</button>
							  </div>
							  <div class="btn-group" role="group">
							    <button type="button" ng-click="changeContentType('gallery', $event)" class="btn btn-default" ng-class="{'btn-primary': isContentType('gallery')}" translate>GALLERY</button>
							  </div>
							  <div class="btn-group" role="group">
							    <button type="button" ng-click="changeContentType('quiz', $event)" class="btn btn-default" ng-class="{'btn-primary': isContentType('quiz')}" translate>QUIZ</button>
							  </div>
								<div class="btn-group" role="group">
							    <button type="button" ng-click="changeContentType('ranking', $event)" class="btn btn-default" ng-class="{'btn-primary': isContentType('ranking')}" translate>RANKING</button>
							  </div>
							
								<div class="btn-group" role="group">
							    <button type="button" ng-click="changeContentType('poll', $event)" class="btn btn-default" ng-class="{'btn-primary': isContentType('poll')}" translate>POLL</button>
							  </div>
								<div class="btn-group" role="group">
							    <button type="button" ng-click="changeContentType('forum', $event)" class="btn btn-default" ng-class="{'btn-primary': isContentType('forum')}" translate>FORUM</button>
							  </div>
							</div>
					</div>
					<!-- /Content Type -->

					<div class="form-group">
						<label for="title" class="hidden" translate>TITLE</label>
						<input type="text" class="form-control" ng-required="true" ng-model="content.title" name="title" id="title" placeholder="{{'TITLE' | translate}}" />
					</div>
					<div class="form-group">
						<div class="row">
							<div ng-class="{'col-lg-10': (content.id != undefined), 'col-lg-12': (content.id == undefined)}">
								<input type="text" class="form-control" readonly="readonly" name="url" id="url" ng-show="content.link" ng-model="content.link" />
							</div>
							<div class="col-lg-2" ng-show="content.id != undefined">
								<button ng-click="changeSlug()" class="btn btn-default" translate>Change Link</button>
							</div>
						</div>
						
					</div>
					<div class="form-group">
						<label for="intro" class="hidden" translate>INTRO</label>
						<input type="text" class="form-control" ng-model="content.intro" name="intro" id="intro" placeholder="{{'INTRO' | translate}}" />
					</div>
					<div class="form-group">
						<label for="summary" translate>SUMMARY</label>
						<textarea class="form-control" ng-required="true" name="summary" ng-model="content.summary" id="summary"></textarea>
					</div>
					<div class="form-group" ng-if="content.type != 'poll'">
						<label for="full-text" translate>FULL_TEXT</label>
						<text-angular ta-toolbar="[['h3','h4','h5','h6'],['pre','quote'],['bold','italics'],['ul','ol'],['justifyLeft','justifyCenter','justifyRight'],['html','insertImage','insertLink','insertVideo']]" taPaste="modifyHtml($html)" ng-model="content.fullText"></text-angular>
					</div>
					<div class="form-group">
						<label for="writer" class="hidden" translate>WRITER</label>
						<input type="text" class="form-control" ng-model="content.writer" name="intro" id="intro" placeholder="{{'WRITER' | translate}}" />
					</div>
					<div class="form-group">
						<label for="writer-email" class="hidden" translate>WRITER_EMAIL</label>
						<input type="text" class="form-control" ng-model="content.writerEmail" name="intro" id="intro" placeholder="{{'WRITER_EMAIL' | translate}}" />
					</div>
					
					<div class="form-group" ng-if="content.type == 'quiz'">
						<label translate>QUIZ_TYPE</label>
						<div class="btn-group btn-group" role="group">
						  <div class="btn-group" role="group">
						    <button type="button" ng-click="changeQuizType('profile', $event)" class="btn btn-default" ng-class="{'btn-primary': (content.quizType == 'profile')}" translate>PROFILE</button>
						  </div>
						  <div class="btn-group" role="group">
						    <button type="button" ng-click="changeQuizType('correct', $event)" class="btn btn-default" ng-class="{'btn-primary': (content.quizType == 'correct')}" translate>CORRECT</button>
						  </div>
						</div>
					</div>
					<div class="form-group" ng-if="content.type == 'poll'">
						<label translate>POLL_TYPE</label>
						<div class="btn-group btn-group" role="group">
						  <div class="btn-group" role="group">
						    <button type="button" ng-click="changeQuizType('redcarpet', $event)" class="btn btn-default" ng-class="{'btn-primary': (content.quizType == 'redcarpet')}" translate>RED_CARPET</button>
						  </div>
						  <div class="btn-group" role="group">
						    <button type="button" ng-click="changeQuizType('poll', $event)" class="btn btn-default" ng-class="{'btn-primary': (content.quizType == 'poll')}" translate>POLL</button>
						  </div>
						</div>
					</div>
				</div>
				<!-- /Body -->

			</div>
			<!-- /Main Content Info -->
			<!-- Gallery -->
			<gallery-widget></gallery-widget>
			<!-- /Gallery -->
			<!-- Quiz -->
			<quiz-widget></quiz-widget>
			<!-- /Quiz -->
			<!-- POOL -->
			<div class="panel panel-default" ng-show="content.type == 'poll'">
				<div class="panel-heading">
					<h5 translate>POLL</h5>
				</div>
				<div class="panel-body">
					
					<div class="row">
						<div class="col-md-12">&nbsp;</div>
					</div>
					<div>
							<div class="form-group pollItem" ng-repeat="item in content.Polls">
								<div class="row">
									<div class="col-md-3">
										<div class="row">
											<div class="col-lg-12">
												<button class="form-control btn btn-danger" ng-click="removePoll(item, $event)" translate>REMOVE_ALTERNATIVE</button>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12" ng-if="!item.File">
												<button class="form-control btn btn-primary" ng-click="addPollImage(item, $event)" translate>ADD_IMAGE</button>
											</div>
											<div class="col-lg-12" ng-if="item.File">
												<a ng-click="removePollImage(item, $event)">
													<image-api2 item="item.File" format="300x300"></image-api2>
												</a>
												<button class="form-control btn btn-primary" ng-click="removePollImage(item, $event)" translate>REMOVE_IMAGE</button>
											</div>
										</div>
									</div>
									<div class="col-md-9">
										<div class="row">
											<div class="col-md-12">
												<label for="title" class="hidden" translate>Title</label>
												<input type="text" class="form-control" ng-model="item.title" name="title" placeholder="{{'TITLE' | translate}}" />
											</div>
										</div>
										<div class="row">
											<div class="col-md-12" ng-class="{'extendedText': item.File}">
												<label for="title" class="hidden" translate>Text</label>
												<textarea class="form-control" ng-model="item.fullText" name="title" placeholder="{{'TEXT' | translate}}"></textarea>
											</div>
										</div>
									</div>
									
								</div>
								
							</div>
					</div>
					<div class="row">
						<div class="col-md-3"><button class="form-control btn btn-primary" ng-click="addPoll($event)" translate>ADD_ALTERNATIVE</button></div>
						<div class="col-md-9">&nbsp;</div>
					</div>
				</div>
			</div>
			<!-- /POOL -->
			<!-- SEO -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5 translate>SEO_CONFIGS</h5>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="title" class="hidden" translate>SEO_TITLE</label>
						<input type="text" class="form-control" ng-model="content.titleSEO" name="title" id="title" placeholder="{{'SEO_TITLE' | translate}}" />
					</div>
					<div class="form-group">
						<label for="title" class="hidden" translate>SEO_KEYWORDS</label>
						<input type="text" class="form-control" ng-model="content.keywordsSEO" name="title" id="title" placeholder="{{'SEO_KEYWORDS' | translate}}" />
					</div>
					<div class="form-group">
						<label for="title" class="hidden" translate>SEO_DESCRIPTION</label>
						<textarea class="form-control" ng-model="content.descriptionSEO" name="title" id="title" placeholder="{{'SEO_DESCRIPTION' | translate}}"></textarea>
					</div>
				</div>
			</div>
			<!-- /SEO -->

		</div>
		<!-- /Main Content -->
		<!-- Widgets -->
		<div class="col-lg-3">
			<!-- Publish Settings -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5 translate>PUBLISH_SETTINGS</h5>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<div class="input-group">
								<label for="status" translate>STATUS</label>
								<select ng-model="content.status" class="form-control">
								  <option value="published">{{'PUBLISHED' | translate}}</option>
									<option value="draft">{{'DRAFT' | translate}}</option>
									<option value="deleted">{{'DELETED' | translate}}</option>
								</select>
							</div>
						</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="input-group" >
									<div class="row">
						        <div class="col-md-7">
											<label for="publishedOn" translate>PUBLISH_DATE</label>
											<imaginate-date-picker data="content.publishedAt"></imaginate-date-picker>
						        </div>
										<div class="col-md-5">
											<p class="input-group timePickerView">
												<timepicker ng-model="content.publishedAt"></timepicker>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<button class="btn btn-primary" ng-click="contentSave($event)" translate>SAVE</button>
							</div>
						</div>
				</div>
			</div>
			<!-- /Publish Settings -->
			<!-- Thumbnail -->
			<thumbnail-container></thumbnail-container>
			<!-- /Thumbnail -->
			
			<!-- Editorials -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5 translate>EDITORIALS</h5>
				</div>
				<div class="panel-body">
					<select class="form-control" id="EditorialsBox" ng-model="content.Editorials" ng-options="item.name for item in editorials track by item.id" multiple="multiple"></select>
				</div>
			</div>
			<!-- /Editorials -->
			
			
			<!-- Taxonomy -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5 translate>TAGS</h5>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<div class="row">
							<div class="col-md-9">
								<label for="title" class="hidden" translate>TAGS</label>
								<input type="text" class="form-control" ng-model="tagNew" name="title" id="title" typeahead="tag.title for tag in searchTag($viewValue, 'TAG')" typeahead-on-select="formatTag($item, $model, $label)" placeholder="{{'TAGS' | translate}}" />
							</div>
							<div class="col-md-3">
								<button type="button" class="btn btn-primary" ng-click="insertTag(tagNew, 'TAG')" translate>ADD</button>
							</div>
						</div>
					</div>
					<div class="row">
						<ul class="tagsList">
							<li ng-repeat="item in content.Tags | filter:{taxonomy:'TAG'}">
								<span href="#" rel="{{item.id}}">{{item.title}} <button ng-click="editTag(item, $event)" class="btn btn-primary btn-xs fa fa-pencil"></button> <button ng-click="removeTag(item)" class="btn btn-danger btn-xs fa fa-trash-o"></button></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Taxonomy -->
			<!-- Taxonomy -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5 translate>PROFILES</h5>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<div class="row">
							<div class="col-md-9">
								<label for="title" class="hidden" translate>PROFILES</label>
								<input type="text" ng-model="tagNewProfile" class="form-control" name="title" id="title" placeholder="{{'PROFILES' | translate}}" typeahead="tag.title for tag in searchTag($viewValue, 'PROFILE')" typeahead-on-select="formatTag($item, $model, $label)" />
							</div>
							<div class="col-md-3">
								<button type="button" class="btn btn-primary" ng-click="insertTag(tagNew, 'PROFILE')" translate>ADD</button>
							</div>
						</div>
					</div>
					<div class="row">
						<ul class="tagsList">
							<li ng-repeat="item in content.Tags | filter:{taxonomy:'!TAG'}">
								<span href="#" rel="{{item.id}}">{{item.title}} <button ng-click="editTag(item, $event)" class="btn btn-primary btn-xs fa fa-pencil"></button> <button ng-click="removeTag(item)" class="btn btn-danger btn-xs fa fa-trash-o"></button></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Taxonomy -->
			<!-- Content Related -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5 translate>CONTENT_RELATED</h5>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<div class="row">
							<div class="col-md-12">
								<button class="btn btn-primary" ng-click="openRelatedContent($event)" translate>ADD_RELATED_CONTENT</button>
							</div>
						</div>
						<div class="row">
							<ul id="content-related">
								<li ng-repeat="item in content.extras">
									 {{item.title}} <button ng-click="removeContentRel(item, $event)" class="btn btn-xs btn-primary fa fa-trash-o">Remove</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /Content Related -->


		</div>
		<!-- /Widgets -->
	</div>


	</div>